<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Inventory detail</h1>
  <p><strong>Name: {{ response.name }}</p>
  <p><strong>Description: {{ response.description }}</strong></p>
  <p><strong>Note:</strong> {{ response.note }}</p>
  <p><strong>Stock:</strong> {{ response.stock }}</p>
  <p><strong>Availability:</strong> {{ response.availability }}</p>
  <p><strong>Supplier name:</strong> {{ response.supplier.name }}</p>
</body>
</html>
