<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of inventories</h1>
      <tr>
    <strong>

    <th>Name</th>
    <th>Availability</th>
    <th>Supplier name</th>
            </strong>

  </tr>
    {% for i in response %}
{#        <a href="{{ i.get_absolute_url }}">{{i.name}}</a> #}
{#        <li><a href="api/inventory/{{ i.id }}/">{{ i.name }}</a></li>#}
        <table>
  <tr>
    <td><li><a href="{% url 'inventory-detail' i.id %}">{{ i.name }}</a></li></td>
    <td>{{ i.availability }}</td>
    <td>{{ i.supplier.name }}</td>
  </tr>
</table>

    {% endfor %}
</body>
</html>